

.heading {
  margin-top: 0%;
  padding-top: 0%;
  position: relative;
  display: block;
  top: -10px;
  z-index: 10;
}

.heading h1 {
  font-family: cursive;
  font-size: 4rem;
  text-align: center;
  color: white;
  margin-bottom: 0%;
  margin-top: 0%;
}

.cartButton {
  position: relative;
  left: 80%;
  font-size: 2rem;
  cursor: pointer;
  height: auto;
  width: auto;
  margin-top: 2%;
  margin-right: 2%;
  background-color: rgba(114, 13, 114);
  border: 1px solid rgb(114, 13, 114);
  color: white;
  border-radius: 20px;
  font-weight: bold;
  z-index: 10;
}

.cartButton:hover,
.cartButton:active {
  background-color: rgb(66, 7, 66);
  border-color: rgb(66, 7, 66);
}

.badge {
  background-color: rgba(114, 13, 114);
  border-radius: 25px;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: rgb(66, 7, 66);
}

.unList {
  padding-left: 0%;
}

.historyButton {
  font-size: 1.5rem;
  margin-top: 2%;
  cursor: pointer;
  height: auto;
  width: auto;
  margin-top: 3%;
  background-color: rgba(114, 13, 114);
  border: 1px solid rgb(114, 13, 114);
  color: white;
  border-radius: 20px;
  font-weight: 100;
  z-index: 10;
}

.historyButton:hover,
.historyButton:active {
  background-color: rgb(66, 7, 66);
  border-color: rgb(66, 7, 66);
}
.logout {
  float: right;
  position: relative;
  right: 5%;
  font-size: 1.5rem;
  margin-top: 2%;
  cursor: pointer;
  height: auto;
  width: auto;
  margin-top: 3%;
  background-color: rgba(114, 13, 114);
  border: 1px solid rgb(114, 13, 114);
  color: white;
  border-radius: 20px;
  font-weight: 100;
  z-index: 10;
}

.logout:hover,
.logout:active {
  background-color: rgb(66, 7, 66);
  border-color: rgb(66, 7, 66);
}
