.listItem {
  margin: 1rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #ccc;
}
.topInfo {
  display: flex;
  justify-content: space-between;
}
.listItem h3 {
  margin: 0 0 0.25rem 0;
}
.price {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
  color: rgb(114, 13, 114);
  font-size: 1.25rem;
  float: inline-end;
}
.bottomInfo {
  display: flex;
  justify-content: space-between;
}
.bottomInfo p {
  font-weight: bold;
  margin-top: 0.25rem;
  color: rgb(114, 13, 114);
  font-size: 1.25rem;
}
