.items {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.items h3 {
  margin: 0 0 0.25rem 0;
  padding-top: 5px;
}
.items p {
  margin-top: 0.25rem;
  font-weight: bold;
  color: rgb(114, 13, 114);
  font-size: 1.25rem;
}
.actions {
  display: flex;
  flex-direction: column;
  height: 40px;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cartItems {
  padding-left: 0%;
}

.cartItems button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: rgb(114, 13, 114);
  border: 1px solid rgb(66, 7, 66);
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.cartItems button:hover,
.cartItems button:active {
  background-color: rgb(66, 7, 66);
  color: white;
}
